<%= simple_form_for [ :landlord, @property, @lease, @payment ] do |f| %>
    <div>
        <%= f.label :amount %>
        <%= f.number_field :amount %>
    </div>

    <div>
        <%= f.label :paid_at %>
        <%= f.date_field :paid_at %>
    </div>

    <div>
        <%= f.label :transaction_id %>
        <%= f.text_field :transaction_id %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>
