<h1>Payments for Lease <%= @lease.id %></h1>

<table>
    <thead>
        <tr>
        <th>Amount</th>
        <th>Paid At</th>
        <th>Status</th>
        <th>Transaction ID</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% @payments.each do |payment| %>
        <tr>
            <td><%= number_to_currency(payment.amount.to_f / 100) %></td>
            <td><%= payment.paid_at %></td>
            <td><%= payment.status %></td>
            <td><%= payment.transaction_id %></td>
            <td><%= link_to "Show", [:landlord, @property, @lease, payment] %></td>
        </tr>
        <% end %>
    </tbody>
</table>
