<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rental Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div>
      <%= render "shared/flashes" %>
    </div>
    <div>
      <% if user_signed_in? %>
        <p> Signed in as <strong><%= current_user.email %></strong> </p>
        <p> Log Out<%= link_to " here", destroy_user_session_path, data: { turbo_method: :delete } %> </p>
        <p> Go to <%= link_to "Dashboard", send("#{current_user.role}_root_path") %> </p>
      <% else %>
        <p> You are not signed in. Please <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> </p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
